div.form-container {
display: inline-block;
width: 50%;
border: 1px solid black;
padding: 4px 4px 4px 4px;
justify-content: center;
/* align-content: center;
text-align: center; */
margin-right: 0;


}
