
header{
    padding: 5px 20px 3px 20px;
    background-color: #aa151b;
    color: #f1bf00;
    border-bottom: 10px solid #8d9ea6;
  }
  
  nav {
    min-width: 13em;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .a.link {
    display: inline-block;
    
  }

  nav p {
    margin: 0 20px 0 0;
    max-width: 10em;
    overflow: hidden;
  }
  
  nav span { padding: 0 .75em }
  
  .flex{
    display: flex;
  }
  
  .header-content {
    justify-content: space-between;
    align-items: center;
    max-width: 65em;
    margin: 0 auto;
  }
  
  .header-content > * { flex: 3 }
  
  .navLink{
    padding: 0 .5em;
    font-size: 20px;
    text-decoration: none;
    color: #1c2a43;
  }
  
  .navLogout {
    border: 3px solid #d4ddde;
    padding: .5em 1em;
    border-radius: 5px;
  }
  
  .headerTitle{
    font-size: .85em;
    max-width: 9em;
  }

  .logo {
    display: flex;
    justify-content: left;
    width: 2.9em;
    height: 2.9em;
    max-width: 2.9em;
    background-image: url('/images/yo-hablo-espanol.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  @media only screen and (max-width: 425px) {
    nav span,
    #logo {
      display: none;
    }
  
    .headerTitle {
      font-size: 5vw;
      max-width: 5em;
    }
  }