.learn-page {
    border: 1.5em solid #aa151b;
    margin: 6em auto 0 auto;
    max-width: 40em;
    position: relative;
    color: #fff;
    padding: 2em;
  }

  .learn-page h3 {
    min-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    border-bottom: none;
    opacity: 1;
    transition: all 1s;
  }


#feedback-overlay.invisible {
  pointer-events: none;
  opacity: 0;
  transition: all .5s;
}


@media only screen and (max-width: 425px) {
    .learn-page h2 {
      font-size: 8vw;
    }
  }